.myHeader{
    clear: both;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-bottom: 50px;
}

.myQuestion{
    clear: both;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.myAnswer{
    clear: both;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.myButton{
    margin-top: 50px;
    clear: both;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}