<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Module 12. JavaScript . HomeTask 12 </title>
        <link rel="stylesheet" href="css/style.css">
        
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/script.js"></script>
        
         <script type="text/html" id="myProfile">
            <div class="MainForm">
                <div class="MainFormDiv">
                    <p class="MainH1"><%= data[0].profileName %></p>
                    <img class="MainPhoto" src="<%= data[0].profileImg%>" alt="<%= data[0].profileName %>" title="<%= data[0].profileName %>">
                    <p class="MainText"><%= data[0].profileText %></p>
                </div>
                <hr class="MainHR">
                <div class="MainFormDiv">
                    <p class="MainText"><%= data[0].profileFrontQuestion %></p>
                    <ul class="MainUl">
                        <%  for (var i = 0; i < data[0].profileFrontAnswer.length; i++) { %>
                        <li><%= data[0].profileFrontAnswer[i] %></li>
                        <%  };  %>
                    </ul>
                </div>
                <hr class="MainHR">
                <div class="MainFormDiv">
                    <p class="MainText">
                        <%= data[0].profilePhoneTitle %><br>
                        <%= data[0].profilePhone %><br>
                        <br><%= data[0].profileVkTitle %><br>
                        <a href="<%= data[0].profileVK %>" target="_blank"><%= data[0].profileVK %></a>
                    </p>
                </div>
                <hr class="MainHR">
                <div class="MainFormDiv">
                    <p class="MainText">
                        <%= data[0].profileFeedbackTitle %><br>
                        <%= data[0].profileFeedback %>
                    </p>
                </div>
            </div>
        </script>
        
    </head>
    
    <body>
    
    </body>
</html>