@font-face {
    font-family: 'leaguegothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
 
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} 


body{
    background-image: url(../img/background-2.jpg);
    background-position: top center;
    background-repeat: repeat;
}

header{
/*    width: 960px;*/
/*    height: 280px;*/
    margin-left: auto;
    margin-right: auto;
/*    font-family: leaguegothic;*/
}

.logo__title {
    font-family: leaguegothic;
    margin-top: 70px;
    display: block;
    float: left;
    font-size: 48px;
    color: #ffffff;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.logo__title-end{
/*    background: rgb(51, 38, 58);*/
    color: rgb(51, 38, 58);
    text-shadow: none;
/*
    background: -moz-linear-gradient(270deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
    background: -webkit-linear-gradient(270deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
    background: -o-linear-gradient(270deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
    background: -ms-linear-gradient(270deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
    background: linear-gradient(0deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
    background-clip: text;

*/
}

.menu {
    display: block;
    float: left;
    margin-top: 76px;
/*    margin-left: 170px;*/
    font-family: leaguegothic;
}

.menu__item {
    float: left;
/*    margin-right: 26px;*/
}

.menu__link {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.menu__link:hover {
    border-bottom: 2px solid #edbfff;
}

.menu2{
    padding-top: 20px;
    clear: both;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 248px;
    list-style: none;
}

.menu2__li{
    text-align: center;
    position: relative;
    z-index: 1;
}


.menu2__a {
    font-family: leaguegothic;
    text-decoration: none;
    font-size: 24px;
    line-height: 42px;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 2px solid #edbfff;
}

.menu2__a:hover{
    display: block;
    width: 248px;
    line-height: 40px;
    border: none;
}

.menu2__a:hover + .hidden, .hidden:hover {
	display: block;
}

.hidden{
    width: 250px;
    display: none;
    position: absolute;
    top: 0px;
    background-color: rgba(59,46,67,0.85);
    border-radius: 10px 10px 10px 10px;
}

.hidden:before{
    content: 'Home';
    position: relative;
    display: block;
    width: 248px;
    height: 42px;
    border-radius: 10px 10px 0px 0px;
    font-family: leaguegothic;
    text-decoration: none;
    font-size: 24px;
    line-height: 42px;
    color: #ffffff;
    text-transform: uppercase;
}

.hidden__li{
    background: none;
    margin: 0;
    border-top: 1px solid #503d58;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #36283e;
    
    border-radius: 0px 0px 0px 0px;
}

.hidden__li:last-child{
    border-radius: 0px 0px 10px 10px;
}

.hidden__a{
    display: block;
    line-height: 42px;
    font-family: leaguegothic;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    
}

.hidden__a:hover{
    margin-top: 1px;
    background-color: rgba(43,35,50,0.75);
    line-height: 39px;
    border-bottom: 2px solid #edbfff;
}


.slider {
    clear: both;
    display: block;
/*    float: left;*/
    width: 100%;
    height: 568px;
}

.slider__block {
    display: flex;
    align-items: center;
    height: 400px;
    background-color: rgba(0,0,0,0.2);
}


.slider__content {
/*    width: 1560px;*/
    margin-left: auto;
    margin-right: auto;
}

.slider__left-button{
    display: block;
    float: left;
    z-index: 1;
}


.slider__left-button a{
    display: block;
/*    margin-top: 180px;*/
/*    margin-right: 295px;*/
    height: 42px;
    width: 28px;
    background: url(../img/icons2.png) 0 0 no-repeat;
}

.slider__right-button {
    z-index: 1;
    display: block;
    float: right;
}

.slider__right-button a{
/*    margin-top: 180px;*/
/*    margin-left: 295px;*/
    display: block;
    height: 42px;
    width: 28px;
    background: url(../img/icons2.png) 0 0 no-repeat;
    background-position: -29px 0;
}

.slider__text h1{
    font-size: 60px;
    font-family: leaguegothic;
    color: #ffffff;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.slider__text h2{
    font-size: 32px;
    font-family: leaguegothic;
    color: #edbfff;
    text-transform: uppercase;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    
}

.slider__text p{
    margin-top: 15px;
    font-size: 18px;
    font-family: open_sanslight;
    color: #ffffff;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    line-height: 24px;
}

.slider__text {
    float: left;
/*    width: 500px;*/
}

.slider__image-block {
    display: block;
    float: left;
    margin-top: -80px;
    margin-left: 5%;
}

.slider__image-front {
/*    display: block;*/
/*    float: left;*/
/*    margin-top: -20px;*/
    position: absolute;
    margin-left: 80px;
}

.slider__image-front a{
    position: relative;
    display: block;
    margin-top: -204px;
    margin-left: auto;
    margin-right: auto;
    height: 77px;
    width: 77px;
    background: url(../img/Play.png) 0 0 no-repeat;
}

.slider__image-back {
/*    margin-left: 120px;*/
    float: left;
    margin-top: 85px;
}

.slider__menu {
/*    width: 960px;*/
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 93px;
}

.slider__menu ul{
    display: block;
    float: right;
    margin-right: 130px;    
}

.slider__menu li {
    display: block;
    float: left;
    list-style: none;
    margin-right: 7px;
}

.slider__menu a{
    display: block;
    height: 17px;
    width: 17px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.slider__menu a:hover{
    height: 11px;
    width: 11px;
    border: 3px solid rgba(0,0,0,0.8);
    background: #e7e7e7;
}

.slider__menu .active{
    border-radius: 20px;    
    height: 11px;
    width: 11px;
    border: 3px solid rgba(0,0,0,0.8);
    background: #e7e7e7;
}

.about-block {
/*    position: relative;*/
    height: 340px;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #0d151b;
    background: -moz-linear-gradient(270deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
    background: -webkit-linear-gradient(270deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
    background: -o-linear-gradient(270deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
    background: -ms-linear-gradient(270deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
    background: linear-gradient(0deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

}

.about {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
/*    overflow: hidden;*/
}

.about__item {
    display: block;
    float: left;
    width: 31%;
    margin-right: 20px;
}

.about__icon {
    display: block;
    float: left;
    height: 30px;
    width: 32px;
    background: url(../img/icons.png) 0 0 no-repeat;
/*    background-position: -29px 0;*/
}

.about .second{
    background-position: -31px 0;
}

.about .third{
    background-position: -62px 0;
}

.about__item h3{
    display: block;
    float: left;
    margin-left: 25px;
    font-family: leaguegothic;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.about__item p{
    display: block;
    float: right;
    margin-left: 57px;
    font-family: open_sanslight;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.about__item a{
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    float: right;
    font-family: leaguegothic;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.about__item a:hover{
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    float: right;
    font-family: leaguegothic;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

.contento-block {
    height: 485px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
    background: rgb(249, 249, 249);
    background: -moz-linear-gradient(270deg, rgb(249, 249, 249) 98%, rgb(215, 215, 215) 100%);
    background: -webkit-linear-gradient(270deg, rgb(249, 249, 249) 98%, rgb(215, 215, 215) 100%);
    background: -o-linear-gradient(270deg, rgb(249, 249, 249) 98%, rgb(215, 215, 215) 100%);
    background: -ms-linear-gradient(270deg, rgb(249, 249, 249) 98%, rgb(215, 215, 215) 100%);
    background: linear-gradient(0deg, rgb(249, 249, 249) 98%, rgb(215, 215, 215) 100%);    
    border-top: 1px solid #ffffff;
}

.contento {
    width: 960px;
    margin-left: auto;
    margin-right: auto;   
}

.testimonial-box {
    display: block;
    float: left;
    margin-top: 100px;
    margin-left: 25px;
    width: 428px;
    height: 273px;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.testimonial-box:before{
    content: "";
    position: relative;
    display: block;
    float: right;
    top: 273px;
    left: -40px;
    border-style: solid;
    border-width: 23px 0px 0px 23px;
    border-color: #f2f2f2 transparent;
    width: 0;
    z-index: 1;
}

.testimonial-box:after{
    content: "";
    position: relative;
    display: block;
    top: -36px;
    left: 367px;
    border-style: solid;
    border-width: 20px 0px 0px 20px;
    border-color: #ffffff transparent;
    width: 0;
    z-index: 1;
}

.testimonial-box img{
    display: block;
    position: relative;
    top: 20px;
    left: -25px;
/*    float: left;*/
}

.testimonial-box h3{
    display: block;
    float: left;
    position: relative;
    top: -17px;
/*    top: -37px;*/
    margin-left: 39px;
    margin-right: 39px;
    font-family: leaguegothic;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: #454545;
}

.pink-text{
/*    display: block;*/
/*    float: right;*/
    color: #edbfff;
}


.testimonial-box p{
    display: block;
    float: left;
    margin-left: 39px;
    margin-right: 39px;
    font-family: open_sanslight;
    font-size: 16px;
    line-height: 24px;
    color: #454545;
}

.menu_white ul{
    float: left;
    margin-left: 175px;
    margin-top: 25px;
}

.menu_white li{
    float: left;
}

.menu_white a{
    height: 15px;
    width: 15px;
    background-color: rgba(255,255,255,1);
    border: 2px solid #f0f0f0;
}

.menu_white a:hover{
    height: 13px;
    width: 13px;
    border: 3px solid rgba(255,255,255,1);
    background: #5a5a5a;
    
}

.menu_white .active{
    height: 13px;
    width: 13px;
    border: 3px solid rgba(255,255,255,1);
    background: #5a5a5a;
}

.updates-box {
    display: block;
    float: left;
    margin-top: 100px;
    margin-left: 60px;
    width: 440px;
    height: 273px;
}

.updates-box h3{
    display: block;
    float: left;
    margin-top: 33px;
    margin-bottom: 14px;
    font-family: leaguegothic;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: #454545;
}

.updates-box__item {
    clear: both;
    display: block;
    float: left;
    margin-top: 9px;
    margin-bottom: 9px;
}

.updates-box__icon{
    display: block;
    float: left;
    height: 49px;
    width: 49px;
    margin-right: 20px;
    background: url(../img/from_blog.png) 0 0 no-repeat;
}

.updates-box__item .second{
    background-position: -51px 0;
}

.updates-box__item .third{
    background-position: -101px 0;
}

.updates-box__item h5{
    display: block;
    float: left;
    font-family: open_sansextrabold;
    font-size: 16px;
    line-height: 24px;
    color: #454545;    
}

.updates-box__item p{
    display: block;
    float: left;
    font-family: open_sanslight;
    font-size: 16px;
    line-height: 24px;
    color: #454545;
}

.updates-box a{
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    float: right;
    font-family: leaguegothic;
    font-size: 18px;
    line-height: 24px;
    color: #454545;    
    text-transform: uppercase;
    text-decoration: none;
}

#readmore2{
    display: none;
}

.logo-block {
    height: 121px;
    background-color: #f9f9f9;    
    border-bottom: 1px solid #fefefe;
    border-top: 1px solid #fefefe;
}

.logo-block__logos {
    display: block;
    width: 960px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.logo-block ul{
    display: block;
    float: left;
    margin-left: 95px;
}

.logo-block li{
    display: block;
    float: left;
    margin-left: 33px;
    margin-right: 33px;
}

.content {
    height: 395px;
    background-color: #ececec;
    border-top: 1px solid #d8d8d8;
}

.news {
    width: 960px;
    margin-top: 99px;
    margin-left: auto;
    margin-right: auto;
}

.news__pingbuller {
    display: block;
    float: left;
    width: 260px;
    margin-right: 60px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);    
}

.news__pingbuller h3{
    font-family: leaguegothic;
    margin-top: 0;
    display: block;
    float: left;
    font-size: 48px;
    line-height: 40px;
    color: #454545;
    text-transform: uppercase;   
}

.news__pingbuller span{
    font-size: 48px;
    color: #b9b9b9;
}

.news__pingbuller h5{
    clear: both;
    display: block;
    float: left;
    margin-top: 14px;
    font-family: Georgia;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    color: #c5c5c5;
}

.news__pingbuller p{
    margin-top: 15px;
    clear: both;
    display: block;
    float: left;
    font-family: open_sanslight;
    font-size: 16px;
    line-height: 24px;
    color: #787878;    
}

.news__recent {
    display: block;
    float: left;
    width: 260px;
    margin-right: 60px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);    
}

.news__recent h3{
    display: block;
    float: left;
    margin-bottom: 10px;
    font-family: leaguegothic;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: #454545;
}

.news__recent p{
    clear: both;
    display: block;
    float: left;
    font-family: open_sanslight;
    font-size: 16px;
    line-height: 24px;
    color: #787878;
}

.news__item {
    display: block;
    float: left;
    width: 260px;
    margin-right: 60px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);    
}

#news1{
    display: none;
}

#news2{
    display: none;
}

.news__item h3{
    display: block;
    float: left;
    margin-bottom: 10px;
    font-family: leaguegothic;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: #454545;
}

.news__item p{
    clear: both;
    display: block;
    float: left;
    font-family: open_sanslight;
    font-size: 16px;
    line-height: 24px;
    color: #787878;
}

footer{
    background-image: url(../img/background-3.jpg);
    background-position: center;
    background-repeat: repeat;    
}

.footer-box {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.footer-box .menu{
    margin-left: 0;
    margin-top: 50px;
}

.footer-box .menu__link:hover {
    border-bottom: none;
}

.copyright {
    display: block;
    float: right;
}

.copyright p{
    font-family: open_sanslight;
    font-size: 12px;
    color: #ffffff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.copyright b{
    font-family: open_sansextrabold;
}











@media screen and (min-width: 960px) {
    header{
        width: 960px;
        height: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo__title {
        font-family: leaguegothic;
        margin-top: 66px;
        margin-right: 168px;
        display: block;
        float: left;
        font-size: 48px;
        color: #ffffff;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        letter-spacing: -0.5px;
    }

    .logo__title-end{
        color: rgb(51, 38, 58);
        text-shadow: none;
    }

    .menu {
        display: block;
        float: left;
        margin-top: 74px;
        font-family: leaguegothic;
    }

    .menu__item {
        float: left;
        margin-right: 38px;
    }
    
    .menu__item:last-child {
        margin-right: -8px;
        margin-left: 0px;
    }

    .menu__link {
        padding-left: 7px;
        padding-right: 7px;
        margin-left: 0;
        margin-right: 0;
        font-size: 24px;
        text-decoration: none;
        color: #ffffff;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
    }

    .menu__link:hover {
        border-bottom: 2px solid #edbfff;
    }
    
    .menu2 {
        display: none;
    }


    .slider {
        clear: both;
        display: block;
        width: 100%;
        height: 566px;
    }

    .slider__block {
        height: 398px;
        background-color: rgba(0,0,0,0.2);
    }


    .slider__content {
        float: none;
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    
    .slider__left-button{
        margin-left: 1.8%;
        margin-right: 9.4%;
    }

    .slider__left-button a{
        margin-top: 0px;
        margin-right: 0px;
    }

    .slider__right-button{
        margin-right: 1.8%;
        margin-left: 9.4%;
    }
    
    .slider__right-button a{
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .slider__text {
        margin-top: 18px;
        float: left;
        width: 52%;
    }

    .slider__text h1{
        display: block;
        font-size: 60px;
        font-family: leaguegothic;
        color: #ffffff;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        letter-spacing: -0.3px;
        margin-bottom: 0px;
    }

    .slider__text h2{
        display: block;
        font-size: 32px;
        font-family: leaguegothic;
        color: #edbfff;
        text-transform: uppercase;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        line-height: 36px;
        height: 36px;
        overflow: hidden;
        
    }

    .slider__text p{
        display: block;
        margin-top: 1px;
        font-size: 18px;
        font-family: open_sanslight;
        color: #ffffff;
        text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
        line-height: 24px;
        height: 172px;
        overflow: hidden;
    }
    
    .slider__image-block {
        display: block;
        float: left;
        margin-top: -75px;
        margin-left: 12%;
    }

    .slider__image-front {
    /*    display: block;*/
    /*    float: left;*/
    /*    margin-top: -20px;*/
        position: absolute;
        margin-left: 80px;
    }

    .slider__image-front a{
        position: relative;
        display: block;
        margin-top: -227px;
        margin-left: auto;
        margin-right: auto;
        height: 77px;
        width: 77px;
        background: url(../img/Play.png) 0 0 no-repeat;
    }

    .slider__image-back {
    /*    margin-left: 120px;*/
        float: left;
        margin-top: 85px;
    }

    .slider__menu {
        width: 960px;
        display: block;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-top: 93px;
    }

    .slider__menu ul{
        display: block;
        float: right;
        margin-right: 16%;    
    }

    .slider__menu li {
        display: block;
        float: left;
        list-style: none;
        margin-right: 7px;
    }

    .slider__menu a{
        display: block;
        height: 17px;
        width: 17px;
        background-color: rgba(0,0,0,0.4);
        border-radius: 20px;
    }

    .slider__menu a:hover{
        height: 11px;
        width: 11px;
        border: 3px solid rgba(0,0,0,0.8);
        background: #e7e7e7;
    }

    .slider__menu .active{
        border-radius: 20px;    
        height: 11px;
        width: 11px;
        border: 3px solid rgba(0,0,0,0.8);
        background: #e7e7e7;
    }

    .about-block {
        height: 340px;
        border-top: 1px solid #33253a;
        border-bottom: 1px solid #0d151b;
        background: -moz-linear-gradient(270deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
        background: -webkit-linear-gradient(270deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
        background: -o-linear-gradient(270deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
        background: -ms-linear-gradient(270deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
        background: linear-gradient(0deg, rgb(51, 38, 58) 0%, rgb(116, 80, 131) 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

    }

    .about {
        width: 970px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 78px;
    }

    .about__item {
        display: block;
        float: left;
        width: 31%;
        margin-right: 33px;
    }
    
    .about__item:last-child {
        margin-right: 0px;
    }

    .about__icon {
        display: block;
        float: left;
        margin-left: 14px;
        margin-top: 4px;
        height: 30px;
        width: 32px;
        background: url(../img/icons.png) 0 0 no-repeat;
    }

    .about .second{
        background-position: -31px 0;
    }

    .about .third{
        background-position: -62px 0;
    }

    .about__item h3{
        display: block;
        float: left;
        margin-left: 23px;
        font-family: leaguegothic;
        font-size: 30px;
        line-height: 24px;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
        letter-spacing: -0.3px;
    }

    .about__item p{
        display: block;
        float: right;
        margin-left: 57px;
        font-family: open_sanslight;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    }


    .about__item a{
        margin-top: 18px;
        margin-right: 15px;
        display: block;
        float: right;
        font-family: leaguegothic;
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);

    }

    .about__item a:hover{
        margin-top: 20px;
        margin-right: 20px;
        display: block;
        float: right;
        font-family: leaguegothic;
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    }

    .contento-block {
        width: 100%;
        height: 485px;
        background-color: #f9f9f9;
        border-bottom: 1px solid #e6e6e6;
        background: rgb(249, 249, 249);
        background: -moz-linear-gradient(270deg, rgb(249, 249, 249) 98%, rgb(215, 215, 215) 100%);
        background: -webkit-linear-gradient(270deg, rgb(249, 249, 249) 98%, rgb(215, 215, 215) 100%);
        background: -o-linear-gradient(270deg, rgb(249, 249, 249) 98%, rgb(215, 215, 215) 100%);
        background: -ms-linear-gradient(270deg, rgb(249, 249, 249) 98%, rgb(215, 215, 215) 100%);
        background: linear-gradient(0deg, rgb(249, 249, 249) 98%, rgb(215, 215, 215) 100%);    
        border-top: 1px solid #ffffff;
    }

    .contento {
        width: 960px;
        margin-left: auto;
        margin-right: auto;   
    }

    .testimonial-box {
        display: block;
        float: left;
        margin-top: 100px;
        margin-left: 25px;
        width: 428px;
        height: 273px;
        background-color: #ffffff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    }

    .testimonial-box:before{
        content: "";
        position: relative;
        display: block;
        float: right;
        top: 273px;
        left: -40px;
        border-style: solid;
        border-width: 23px 0px 0px 23px;
        border-color: #f2f2f2 transparent;
        width: 0;
        z-index: 1;
    }

    .testimonial-box:after{
        content: "";
        position: relative;
        display: block;
        top: -40px;
        left: 367px;
        border-style: solid;
        border-width: 20px 0px 0px 20px;
        border-color: #ffffff transparent;
        width: 0;
        z-index: 1;
    }

    .testimonial-box img{
        display: block;
        position: relative;
        top: 18px;
        left: -25px;
    }

    .testimonial-box h3{
        display: block;
        float: left;
        position: relative;
        top: -17px;
        margin-left: 39px;
        margin-right: 39px;
        font-family: leaguegothic;
        font-size: 30px;
        line-height: 24px;
        text-transform: uppercase;
        color: #454545;
        letter-spacing: -0.5px;
    }

    .pink-text{
        color: #edbfff;
        letter-spacing: 0.5px;
    }


    .testimonial-box p{
        display: block;
        float: left;
        margin-left: 39px;
        margin-right: 39px;
        font-family: open_sanslight;
        font-size: 16px;
        line-height: 24px;
        color: #454545;
        margin-top: -6px;

        height: 170px;
        overflow: hidden;
        margin-bottom: 32px;
    }

    .menu_white ul{
        float: left;
        margin-left: 167px;
        margin-top: 25px;
    }

    .menu_white li{
        float: left;
    }

    .menu_white a{
        height: 15px;
        width: 15px;
        background-color: rgba(255,255,255,1);
        border: 2px solid #f0f0f0;
    }

    .menu_white a:hover{
        height: 13px;
        width: 13px;
        border: 3px solid rgba(255,255,255,1);
        background: #5a5a5a;

    }

    .menu_white .active{
        height: 13px;
        width: 13px;
        border: 3px solid rgba(255,255,255,1);
        background: #5a5a5a;
    }

    .updates-box {
        display: block;
        float: left;
        margin-top: 98px;
        margin-left: 57px;
        width: 440px;
        height: 273px;
    }

    .updates-box h3{
        display: block;
        float: left;
        margin-top: 33px;
        margin-bottom: 11px;
        font-family: leaguegothic;
        font-size: 30px;
        line-height: 24px;
        text-transform: uppercase;
        color: #454545;
    }

    .updates-box__item {
        clear: both;
        display: block;
        float: left;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    .updates-box__icon{
        display: block;
        float: left;
        height: 49px;
        width: 49px;
        margin-right: 20px;
        background: url(../img/from_blog.png) 0 0 no-repeat;
    }

    .updates-box__item .second{
        background-position: -51px 0;
    }

    .updates-box__item .third{
        background-position: -101px 0;
    }

    .updates-box__item h5{
        display: block;
        float: left;
        font-family: open_sansextrabold;
        font-size: 16px;
        line-height: 24px;
        color: #454545;    
    }

    .updates-box__item p{
        display: block;
        float: left;
        font-family: open_sanslight;
        font-size: 16px;
        line-height: 24px;
        color: #454545;

        width: 84%;
        height: 24px;
        overflow: hidden;
    }

    .updates-box a{
        margin-top: 6px;
        margin-right: 10px;
        display: block;
        float: right;
        font-family: leaguegothic;
        font-size: 18px;
        line-height: 24px;
        color: #454545;    
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: -0.3px;
    }

    #readmore2{
        display: none;
    }

    .logo-block {
        height: 118px;
        background-color: #f9f9f9;    
        border-bottom: 1px solid #fefefe;
        border-top: 1px solid #fefefe;
    }

    .logo-block__logos {
        display: block;
        width: 960px;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-block ul{
        display: block;
        float: left;
        margin-left: 61px;
    }

    .logo-block li{
        display: block;
        float: left;
        margin-left: 33px;
        margin-right: 30px;
    }

    .content {
        height: 397px;
        background-color: #ececec;
        border-top: 1px solid #d8d8d8;

    }

    .news {
        width: 960px;
        margin-top: 98px;
        margin-left: auto;
        margin-right: auto;
    }


    .news__pingbuller {
        display: block;
        float: left;
        width: 280px;
        margin-right: 57px;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);    
    }

    .news__pingbuller h3{
        font-family: leaguegothic;
        margin-top: 0;
        display: block;
        float: left;
        font-size: 48px;
        line-height: 40px;
        color: #454545;
        text-transform: uppercase; 
        letter-spacing: -0.5px;
    }

    .news__pingbuller span{
        font-size: 48px;
        color: #b9b9b9;
    }

    .news__pingbuller h5{
        clear: both;
        display: block;
        float: left;
        margin-top: 14px;
        font-family: Georgia;
        font-size: 16px;
        line-height: 24px;
        font-style: italic;
        color: #c5c5c5;
        letter-spacing: -0.1px;
    }

    .news__pingbuller p{
        margin-top: 5px;
        clear: both;
        display: block;
        float: left;
        font-family: open_sanslight;
        font-size: 16px;
        line-height: 24px;
        color: #787878;    
    }

    .news__recent {
        display: block;
        float: left;
        width: 280px;
        margin-right: 60px;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);    
    }

    .news__recent h3{
        display: block;
        float: left;
        margin-bottom: 10px;
        font-family: leaguegothic;
        font-size: 30px;
        line-height: 24px;
        text-transform: uppercase;
        color: #454545;
    }

    .news__recent p{
        clear: both;
        display: block;
        float: left;
        font-family: open_sanslight;
        font-size: 16px;
        line-height: 24px;
        color: #787878;
    }

    .news__item {
        display: block;
        float: left;
        width: 260px;
        margin-right: 0px;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);    
    }

    #news1{
        display: none;
    }

    #news2{
        display: none;
    }

    .news__item h3{
        display: block;
        float: left;
        margin-bottom: 10px;
        font-family: leaguegothic;
        font-size: 30px;
        line-height: 24px;
        text-transform: uppercase;
        color: #454545;
    }

    .news__item p{
        clear: both;
        display: block;
        float: left;
        font-family: open_sanslight;
        font-size: 16px;
        line-height: 24px;
        color: #787878;
    }

    .footer-box {
        width: 960px;
        height: 114px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-box .menu{
        margin-left: 0;
        margin-top: 45px;
    }
    
    .footer-box .menu__item{
        margin-left: -7px;
        margin-right: 37px;
    }

    
    
    .footer-box .menu__link{
        font-size: 20px;
    }


    .footer-box .menu__link:hover {
        border-bottom: none;
    }

    .copyright {
        display: block;
        float: right;
        margin-top: 55px;
    }

    .copyright p{
        font-family: open_sanslight;
        font-size: 12px;
        color: #ffffff;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
    }

    .copyright b{
        font-family: open_sansextrabold;
    }
}











@media screen and (min-width: 768px) and (max-width:959px) {
    header {
        width: 100%;
/*        width: 768px;*/
        height: 244px
    }
    
    .logo__title {
        margin-top: 66px;
        margin-right: 0px;
        margin-left: 105px;
        letter-spacing: -0.1px;
    }
 
    .menu {
        clear: both;
        float: left;
        margin-left: 99px;
        margin-top: 29px;
    }
    
    .menu__item{
        margin-right: 38px;
    }

    .menu2 {
        display: none;
    }
    
    .slider{
        width: 100%;
        height: 555px;
    }
    
    .slider__content {
        width: 81.5%;
    }
    
    .slider__left-button{
        margin-left: 8.7%;
        margin-right: 2%;
    }

    .slider__left-button a{
        margin-top: 0px;
        margin-right: 0px;
    }

    .slider__right-button{
        margin-right: 9%;
        margin-left: 0;
    }
    
    .slider__right-button a{
        margin-top: 0px;
        margin-left: 0px;
    }
    
    
    .slider__image-block {
        margin-left: 17%;
        margin-top: -123px;
    }

    .slider__text h1{
        font-size: 48px;
        height: 51px;
        overflow: hidden;
    }
    
    .slider__text h2{
        font-size: 24px;
        margin-top: 2px;
        height: 26px;
        overflow: hidden;
    }
    
    .slider__text p{
        margin-top: 8px;
        font-size: 16px;
        line-height: 24px;
        height: 100px;
        overflow: hidden;
    }
    
    .slider__text {
        float: left;
        width: 40.6%;
    }
    
    .slider__menu {
        width: 100%;
        margin-top: 38px;    
    }
    
    .slider__menu ul{
        margin-right: 23%;
    }
    
    .about {
        width: 81.5%;
        margin-left: 12.4%;
        margin-top: 76px;
    }
    
    .about__item {
        width: 29%;
        margin-right: 4%;
    }
    
    .about__item h3{
        width: 66%;
        font-size: 24px;
        height: 24px;
        overflow: hidden;
    }
    
    .about__item p{
        width: auto;
        max-height: 140px;
        overflow: hidden;
    }
    
    .about__item a{
        margin-top: 5px;
        margin-right: 24px;
        
    }
    
    .about .second{
        background-position: 0 0;
    }

    .about .third{
        background-position: 0 0;
    }
    
     .contento-block {
        min-height: 485px;
        height: auto;
    }
    
    .contento {
        width: 81.5%;
    }
    
    .testimonial-box {
        width: 40.3%;
        height: 275px;
        margin-left: 44px;
        margin-top: 97px;
    }
    
    .testimonial-box:before {
        display: none;
    }
    
    .testimonial-box:after {
        display: none;
    }
    
    .testimonial-box p{
        max-height: 145px;
        overflow: hidden;
    }
    
    .testimonial-box h3{
        font-size: 24px;
    }
    
    .pink-text{
        clear: both;
        display: block;
    }

    .menu_white{
        clear: both;
        float: left;
        width: 100%;
    }
    
    .menu_white ul{
        width: 110px;
        margin-top: 17px;
        margin-left: 35%;
    }
    
    .updates-box {
        width: 42%;
    }
    
    .updates-box h3{

        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    .updates-box__icon{
        margin-right: 6%;
    }
    

    .updates-box__item h5{
        width: 74%;
        max-height: 24px;
        overflow: hidden;
    }

    
    .updates-box__item p{
        width: 74%;
        max-height: 20px;
        overflow: hidden;
    }
    
    #readmore1{
        display: none;
    }
    
    #readmore2{
        display: block;
        margin-top: 2px;
        margin-right: 13px;
    }
    
    .logo-block {
        min-height: 118px;
        height: auto;
    }
    
    .logo-block__logos {
        width: 81.5%;
        height: auto;
        overflow: hidden;
    }
    
    .logo-block ul{
        width: 100%;
        margin-left: 22px;
        float: left;
        margin-right: 0px;
    }
    
    .logo-block li{
        margin-right: 7%;
        margin-left: 0;
    }
    
    .logo-block li:last-child{
        margin-right: 0;
    }
    
    .news {
        width: 80%;
        margin-left: 106px;
    }
    
    .news__item{
        width: 30%;
        margin-right: 5%;
    }
    
    .news__item:last-child{
        margin-right: 0;
    }

    .news__item h3{
        font-size: 24px;
        line-height: 24px;
        height: 24px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    
    .news__pingbuller{
        display: none;
    }
    
    .news__recent{
        display: none;
    }
    
    .news__pingbuller{
        display: none;
    }
    
    #news1{
        display: block;
    }
    
    #news2{
        display: block;
    }
    
    .news__item p{
        width: auto;
        max-height: 170px;
        overflow: hidden;
    }
    
    .footer-box .menu{
        width: 100%;
        margin-bottom: 34px;
        margin-top: 47px;
        margin-left: 45px;
    }
    
    .footer-box .menu__item{
        margin-right: 30px;
    }

    .footer-box .menu__link{
        font-size: 20px;
    }
    
    .footer-box {
        width: 88.5%;
        height: 203px;
    }
    
    .copyright {
        margin-top: 0px;
        margin-right: 55px;
    }
    
}










@media screen and (min-width: 480px) and (max-width:767px)  {
    header {
/*        width: 480px;*/
        width: 100%;
        height: 203px
    }
    
    .logo__title {
        margin-top: 66px;
        width: 100%;
/*        width: 480px;*/
        text-align: center;
    }
 
    .menu {
        display: none;
    }
    
    .slider{
        width: 100%;
        height: 345px;
    }
    
    .slider__block {
        height: 245px;
    }
    
    .slider__left-button{
        margin-left: 17.5%;
        margin-right: 1%;
    }

    .slider__left-button a{
        margin-top: 0px;
        margin-right: 0px;
    }

    .slider__right-button{
        margin-right: 17.7%;
        margin-left: 0.5%;
    }
    
    .slider__right-button a{
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .slider__content {
        width: 54%;
        height: 60px;
    }
    
    .slider__image-block {
        margin-left: -1%;
        transform: scale(0.72);
        margin-top: -146px;
        width: 49%;
    }
    
    .slider__text h1{
        width: 100%;
        font-size: 36px;
        margin-top: 0px;
        height: 39px;
        overflow: hidden;
    }
    
    .slider__text h2{
        width: 100%;
        font-size: 18px;
        margin-top: 0px;
        height: 20px;
        overflow: hidden;
    }
    
    .slider__text p{
        display: none;
    }
    
    .slider__text {
        float: left;
        width: 47%;
    }
    
    .slider__menu {
        clear: both;
/*        width: 480px;*/
        width: 100%;
        margin-top: 23px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .slider__menu ul{
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    .about-block{
        height: 598px;
    }
    
    .about {
        width: 64%;
        margin-top: 78px;
    }
    
    .about__item {
/*        width: 435px;*/
        width: 90.5%;
        margin-bottom: 25px;
        margin-right: 25px;
        margin-left: 29px;
    }
    
    .about__item h3{
        font-size: 24px;
        letter-spacing: -0.3px;
    }
    
    .about__item p{
        height: 70px;
        overflow: hidden;
    }
    
    .about .second{
        background-position: 0 0;
    }

    .about .third{
        background-position: 0 0;
    }
    
    .about__item a{
        margin-top: 10px;
        margin-right: 9px;

    }
    
    .about__item a:hover{
        margin-top: 10px;
        margin-right: 9px;
    }
    
    .contento-block{
        height: 784px;
    }
    
    .contento {
        width: 64%;
  }
    
    .testimonial-box {
        width: 87.5%;
        height: 275px;
        margin-top: 66px;
        margin-bottom: 60px;
        margin-left: 45px;
    }
    
    .testimonial-box:before {
        display: none;
    }
    
    .testimonial-box:after {
        display: none;
    }

    
    .testimonial-box p{
        height: 170px;
        overflow: hidden;
        margin-bottom: 30px;
    }
    
    .testimonial-box h3{
        margin-top: -3px;
        font-size: 30px;
        overflow: hidden;
        line-height: 30px;
        height: 30px;
        letter-spacing: -0.4px;
    }
    
    .pink-text{
        display: block;
        float: right;
        letter-spacing: 0.4px;
    }

    .menu_white{
        clear: both;
        width: 87.5%;
    }
    
    .menu_white ul{
        width: 110px;
        margin-top: 21px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .updates-box {
        clear: both;
        float: none;
        width: 75%;
        margin-left: auto;
        margin-right: auto;

    }
    
    .updates-box h3{
        margin-top: 30px;
        margin-bottom: 12px;
        margin-left: 24px;
    }
    
    .updates-box__icon{
        margin-right: 5%;
        margin-left: 24px;
    }
    
    
    .updates-box__item p{
        width: 68%;
        height: 20px;
        overflow: hidden;
        
    }
    
    .updates-box__item h5{
        width: 68%;
        height: 20px;
        overflow: hidden;
        
    }
    
    #readmore1{
        display: none;
    }
    
    #readmore2{
        display: block;
        margin-right: 0px;
        margin-top: 6px;
    }
    
    .logo-block{
        height: 230px;
        width: 100%;
    }
    
    .logo-block__logos {
        width: 64%;
        margin-top: 37px;
    }
    
    .logo-block ul{
        margin-left: 0;
        float: left;
    }
    
    .logo-block li{
        margin-right: 5%;
        margin-left: 0;
        margin-bottom: 25px;        
    }
    
    .logo-block li:last-child{
        margin-right: 0;
    }
    
    .content{
        height: 668px;
        width: 100%;
    }
    
    .news {
        width: 65%;
        margin-top: 80px;
        margin-left: 153px;
    }
    
    .news__item{
        width: auto;
        max-height: 130px;
        overflow: hidden;
        margin-bottom: 55px;        
    }

    .news__item h3{
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    
    .news__pingbuller{
        display: none;
    }
    
    .news__recent{
        display: none;
    }
    
    .news__pingbuller{
        display: none;
    }
    
    #news1{
        display: block;
    }
    
    #news2{
        display: block;
    }
    
    .news__item p{
        overflow: hidden;
    }
    
    .footer-box {
        width: 100%;
        height: 200px;
    }
    
    .footer__menu{
        display: block;
        float: left;
        width: 100%;
    }
    
    .footer-box .menu{
        display: block;
        float: none;
        width: 66%;
        height: 58px;
        margin-left: 157px;
        margin-top: 46px;
    }
    
    .footer-box .menu__item{
        margin-right: 5%;
   }
    
    .footer-box .menu__item:last-child{
        margin-right: 0;
   }
    
    .footer-box .menu__link{
        font-size: 20px;
        padding: 0;
    }
    
    .copyright {
        clear: both;
        display: block;
        float: none;
        text-align: center;
    }
    
}




@media screen and (max-width:479px) {
    header {
        width: 100%;
/*        width: 320px;*/
        height: 201px
    }
    
    .logo__title {
        width: 100%;
/*        width: 320px;*/
        text-align: center;
        margin-top: 66px;
        letter-spacing: -0.2px;
    }
 
    .menu {
        display: none;
    }
    
    .slider{
        height: 315px;
    }
    
    .slider__block {
        height: 235px;
        background-color: rgba(0,0,0,0);
    }
    
        .slider__left-button{
        margin-left: 13.5%;
        margin-right: 6%;
    }

    .slider__left-button a{
        margin-top: 15px;
        margin-right: 0px;
    }

    .slider__right-button{
        margin-right: 15%;
        margin-left: 0.5%;
    }
    
    .slider__right-button a{
        margin-top: 15px;
        margin-left: 0px;
    }
    
    
    .slider__content {
/*        width: 320px;*/
        width: 100%;
    }
    
    .slider__image-block {
        display: none;
    }
    
    .slider__text h1{
        font-size: 36px;
        margin-top: 15px;
        letter-spacing: -0.3px;
    }
    
    .slider__text h2{
        font-size: 18px;
        margin-top: 2px;
        height: 20px;
        overflow: hidden;
        letter-spacing: -0.1px;
    }
    
    .slider__text p{
        display: none;
    }
    
    .slider__text {
        float: none;
        width: 210px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .slider__menu {
        clear: both;
/*        width: 320px;*/
        width: 100%;
        margin-top: -5px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .slider__menu ul{
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    .about-block{
        height: 598px;
    }
    
    .about {
/*        width: 320px;*/
        width: 100%;
        margin-top: 70px;
    }
    
    .about__item {
        width: 60%;
        margin-bottom: 29px;
        margin-right: 0px;
        margin-left: 95px;
    }
    
    .about__item h3{
        font-size: 24px;
    }
    
    .about__item p{
        height: 70px;
        overflow: hidden;
    }
    
    .about .second{
        background-position: 0 0;
    }

    .about .third{
        background-position: 0 0;
    }
    
    .about__item a{
        margin-top: 11px;
        margin-right: 8px;

    }
    
    .about__item a:hover{
        margin-top: 15px;
        margin-right: 10px;
    }
    
    .contento-block{
        height: 784px;
    }
    
    .contento {
        width: 69.2%;
    }
    
    .testimonial-box {
        width: 81%;
        height: 275px;
        margin-top: 66px;
        margin-left: 41px;
        margin-bottom: 60px;
    }
    
    .testimonial-box:before {
        display: none;
    }
    
    .testimonial-box:after {
        display: none;
    }
    
    .testimonial-box h3{
        top: -22px;
        font-size: 24px;
        margin-bottom: -10px;
        margin-left: 34px;
    }
    
    .pink-text{
        clear: both;
        display: block;
        float: none;
    }

    .testimonial-box p{
        height: 170px;
        overflow: hidden;
        margin-bottom: 15px;
    }
    
    .menu_white{
        clear: both;
        width: 100%;
    }
    
    .menu_white ul{
        width: 110px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .updates-box {
        clear: both;
        float: none;
        width: 94%;
        margin-left: auto;
        margin-right: auto;

    }
    
    .updates-box h3{
        margin-top: 30px;
        margin-bottom: 11px;
        margin-left: 4px;
    }
    
    .updates-box__icon{
        margin-right: 5%;
        margin-left: 6px;
    }
    
    
    .updates-box__item h5{
        width: 53%;
        height: 20px;
        overflow: hidden;
    }
    
    .updates-box__item p{
        width: 72%;
        height: 20px;
        overflow: hidden;
    }
    
    #readmore1{
        display: none;
    }
    
    #readmore2{
        display: block;
        margin-right: 15px;
        margin-top: 8px;
    }
    
    .logo-block{
        height: 420px;
    }
    
    .logo-block__logos {
        width: 100%;
        margin-top: 50px;
    }
    
    .logo-block ul{
        margin-left: 0;
        float: left;
    }
    
    .logo-block li{
        margin-right: 7%;
        margin-left: 7%;
        margin-bottom: 55px;        
    }
    
    .content{
        display: none
    }

    .news__pingbuller{
        display: none;
    }
    
    .news__recent{
        display: none;
    }
    
    .news__pingbuller{
        display: none;
    }
    
    .footer-box {
        width: 100%;
        height: 200px;
    }
    
    .footer-box .menu{
        display: none;
    }
    
    .footer-box .menu__item{
        margin-right: 10px;
    }
    
    .footer-box .menu__link{
        font-size: 20px;
    }
    
    .copyright {
        padding-top: 40px;
        clear: both;
        float: none;
        text-align: center;
    }
    
}